@import "./../styles.scss";

.section-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.section-inner {
  width: 100%;
  max-width: 1920px;
  display: flex;
  border: 3px solid red;
}

.leftFrame {
  width: 13%;
  border: 3px solid blue;
}

.masterFrame {
  @include dFlex($jc: center, $ai: center, $g: 0px);
  flex-direction: column;
  width: 87%;
  height: 100%;
  border: 3px solid black;
}

.topFrame {
  width: 100%;
  height: auto;
  border: 3px solid green;
}

.mainFrame {
  width: 100%;
  flex-grow: 1;
  border: 3px solid yellow;
}
